@font-face {
  font-family: aleoLight;
  src: url('fonts/Aleo-Light.ttf')
}

body {
  font-family: aleoLight;
  background-image: url("images/background_image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

div#root {
  display: grid;
  /* grid-template-columns: 1fr minmax(320px, 705px) 1fr; */
  grid-template-columns: 1fr;
}
